@font-face {
    font-family: 'OCRB';
    src: url('ocr-b.otf') format('opentype');
}

body {
    font-family: 'OCRB', monospace;
    font-size: 15px;
    background-color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.splyew {
    margin-bottom: 10px;
}

.status {
    margin-bottom: 30px;
}

.center-image {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}
