@font-face {
    font-family: 'OCRB';
    src: url('ocr-b.otf') format('opentype');
}

body {
    font-family: 'OCRB', monospace;
    font-size: 15px;
    background-color: white;
    margin: 0;
    height: 100vh;
    position: relative;
}

/* Container for the bottom-left text */
.bottom-left-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.splyew,
.dead-freestyle,
.delivered,
.track-length,
.download,
.copyright {
    margin-bottom: 10px;
}

.download {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.download:hover {
    text-decoration: underline;
}

/* GIF container centered on the screen */
.gif-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preview-gif {
    width: 500px;
    height: 500px;
    display: block;
}
